<div class="tutorial-meta">
  {{ with .Params.level }}
  <span class="meta-item">
    <span class="meta-icon">&#127891;</span>
    <span class="meta-level">{{ . }}</span>
  </span>
  {{ end }}
  {{ with .Params.time }}
  <span class="meta-item">
    <span class="meta-icon">&#9201;</span>
    <span>{{ . }} min.</span>
  </span>
  {{ end }}
  {{ with .Params.displayTags }}
  <span class="meta-tags">
    <svg class="meta-icon-svg" viewBox="0 0 16 16" width="14" height="14"><path d="M2 2h5.5l6.5 6.5-5.5 5.5L2 7.5V2zm3 1.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" fill="currentColor" opacity="0.6"/></svg>
    {{ range . }}<span class="tutorial-tag">{{ . }}</span>{{ end }}
  </span>
  {{ end }}
</div>
