<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<p>Hi,</p>
<p>${initiatorEmail} has requested to merge your SAP tutorial history into their account.</p>
<p>To confirm this merge, you must:</p>
<ol>
  <li>Sign in with the account you want to keep (the account receiving the merged history)</li>
  <li>Click the link below (valid for ${ttlMinutes} minutes)</li>
</ol>
<p><a href="${link}">${link}</a></p>
<p>If you did not expect this request or do not wish to proceed, simply ignore this email. Your account and history will not be affected.</p>
<p>The SAP Developer team</p>
</body>
</html>
