<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<p>Dear Team,</p>
<p>The deadline for reviewing the above mentioned tutorial has passed. Please make arrangements to have it removed from the productive system.</p>
<p>If you received this message by mistake, please let us know by replying to this email.</p>
<p>Thanks for your support,<br/>Riley<br/>--</p>
<p>Riley Rainey<br/>Developer Tutorial Curation and Author Support<br/>SAP Industries and Experience (SIX) Team</p>
</body>
</html>
