<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<p>Dear Tutorial Owner,</p>
<p>This is the second reminder to review and/or update the tutorial mentioned above.
    If no action is taken within sixty days, the tutorial will be retired from production.</p>
<p><strong>Why are you receiving this email?</strong></p>
<p>You received this e-mail because you are marked as the author for the Tutorial appearing on the subject line of this message.
    As such, you are the best judge of whether the Tutorial instructions are still correct.</p>
<p><strong>What action do you need to take?</strong></p>
<p>You have four options:</p>
<ol type="1">
    <li><strong>Review the tutorial.</strong> If changes are required, update the tutorial using processes
        described <a href="https://developers.sap.com/tutorials/docs-tutorial-2a-updating-tutorialv2.html">in these instructions</a>.
        If no changes were required, you can mark the tutorial as up to date
        by clicking the appropriate "Reviewed" checkbox in the <a href="${dashboardUrl}">IMS Tutorial Dashboard</a>.
        If you mark a Tutorial as "Reviewed", the review will be noted at the next periodic processing cycle.
        <strong>If you perform this review on your own every 3-4 months, you will not receive these reminder messages.</strong></li>
    <li><strong>Designate a new Tutorial author</strong> – if you are no longer responsible for maintaining
        this content, you can either designate a new owner or contact the original owning team to designate
        a new owner. Designating a new owner requires updating or adding "author_name:" and "author_profile:"
        tags in the Tutorial's front matter section. You complete the process by submitting a Pull Request reflecting the change.</li>
    <li><strong>Retire the Tutorial</strong> – in this case, you should submit a Pull Request to delete
        the Tutorial's directory from the Production Tutorial repository.</li>
    <li><strong>Contact me</strong> – if something about a Tutorial makes it unclear which of the previous
        actions is appropriate, just contact me via e-mail and let's explore it.</li>
</ol>
<p>If you received this message by mistake, please let us know by replying to this email.</p>
<p>Thanks for your support,<br/>Riley<br/>--</p>
<p>Riley Rainey<br/>Developer Tutorial Curation and Author Support<br/>SAP Industries and Experience (SIX) Team</p>
</body>
</html>
